body {
  background-color: #1a1a1a;
  color: #f2f2f2;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container {
  width: 90%;
  max-width: 800px;
  border-radius: 10px;
  padding: 40px;
}

.quote-text {
  font-family: "Noto Sans Tamil", sans-serif;
  font-size: 32px;
  line-height: 1.4;
  margin-bottom: 20px;
  color: #cccccc;
  text-align: left;
}

.quote-explanation {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #cccccc;
  text-align: left;
}

.quote-mv {
  font-family: "Noto Sans Tamil", sans-serif;
  font-size: 20px;
  letter-spacing: .05rem;
  font-weight: 200;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #cccccc;
  /* font-style: italic; */
  text-align: left;
}

.quote-number {
  font-size: 28px;
  color: #999999;
  text-align: left;
  margin-bottom: 15px;
}

.quote-metadata {
  font-size: 16px;
  color: #999999;
  text-align: left;
  margin-bottom: 15px;
}

.quote-metadata a {
  color: #999999;
  text-decoration: none;
  transition: color 0.3s ease;
  position: relative;
  padding-right: 20px;
}

.quote-metadata a:hover {
  color: #cccccc;
}

.quote-metadata a::after {
  content: '🔗';
  font-size: 14px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.quote-metadata a:hover::after {
  opacity: 1;
}

@media (max-width: 600px) {
  .quote-container {
    width: 95%;
    padding: 30px;
  }

  .quote-text {
    font-size: 20px;
  }

  .quote-explanation {
    font-size: 16px;
  }

  .quote-mv {
    font-size: 14px;
  }

  .quote-number {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .quote-metadata {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .quote-metadata a::after {
    font-size: 10px;
  }
}
